<article class="media">
    <figure class="media-left">
      <div class="columns is-centered is-mobile is-vcentered">
        <div class="column has-text-centered pr-3 pl-3">
          <div class="image is-32x32">
            <img src="https://bulma.io/images/placeholders/64x64.png" class="is-rounded">
          </div> 
        </div>
      </div>
    </figure>
    <div class="media-content">
      <div class="content">
        <p class="has-background-light p-2 mb-0" style="border-radius: 15px">
          <strong><small><%= comment.user.name %></small></strong>
          <br>
          <%= comment.content %>
          <br>
        </p>
        <% if comment.likes.count != 0 %>
          <div id="likeOnComment" class="level-right">
            <span class="icon"><small class="level-item has-text-grey"><i class="far fa-thumbs-up fa-fw has-text-info-dark "></i><%= comment.likes.count %></small></span>
          </div>
        <% end %>
        <small id="likeReplyBar">
          <% if already_liked?(comment) %>
            <% pre_like = comment.likes.find { |like| like.user_id == current_user.id} %>
            <%= link_to "Like", comment_like_path(comment, pre_like), method: :delete, class: "has-text-info-dark" %>
          <% else %>
            <%= link_to "Like", comment_likes_path(comment, Like.new), method: :post, class: "has-text-grey-dark" %>
          <% end %>
          · 
          <a id="replyButton<%= comment.id %>" class="reply-button has-text-grey-dark" data-turbolinks="false">Reply</a> 
          · 
          <%= short_age_string(comment.updated_at) %>
        </small>
        <div id="replyDiv<%= comment.id%>" class="reply-div">
          <article class="media reply-article">
            <figure class="media-left mr-2 ml-0">
              <div class="columns is-centered is-mobile is-vcentered">
                <div class="column has-text-centered pr-3 pl-3">
                  <div class="image is-24x24">
                    <img src="https://bulma.io/images/placeholders/64x64.png" class="is-rounded">
                  </div> 
                </div>
              </div>
            </figure>
            <div class="media-content">
              <div class="content">
                <%= form_with(model: [comment, Comment.new]) do |f| %>
                  <%= f.text_field :content, class: "input is-small is-rounded", placeholder: "Write a reply..." %>
                <% end %>
              </div>
            </div>
          </article>
        </div>
      </div>
      <%= render partial: 'comments/comment', collection: comment.comments %>
    </div>
</article>