<div class="column is-6">
  <h1 class="title">Friend Requests</h1>
  <% if @user.requested_friends.empty? %>
      <h2 class="subtitle has-text-centered p-5">You do not have any friend requests yet!</h2>
  <% end %>
  <% @user.requested_friends.each_slice(2) do |requester_a, requester_b| %>
    <div class="columns is-6">
      <div class="column">
        <article class="media box">
          <div class="media-left">
            <figure class="image is-64x64">
              <img src="https://bulma.io/images/placeholders/64x64.png" class="is-rounded">
            </figure>
          </div>
          <div class="media-content">
            <div class="content">
              <p>
                <strong><%= link_to requester_a.name, user_path(requester_a) %></strong>
              </p>
              <p>
                <%= link_to "Accept", accept_friendships_path(name: requester_a.name), controller: "friendships", action: "accept", method: :put, class: "button is-link is-small" %>  <%= link_to "Decline", decline_friendships_path(name: requester_a.name), controller: "friendships", action: "decline", method: :delete, class: "button is-small has-background-grey-lighter is-outlined" %>
              </p>
            </div>
          </div>
        </article>
      </div>
      <div class="column">
        <% unless requester_b.nil? %>
          <article class="media box">
            <div class="media-left">
              <figure class="image is-64x64">
                <img src="https://bulma.io/images/placeholders/64x64.png" class="is-rounded">
              </figure>
            </div>
            <div class="media-content">
              <div class="content">
                <p>
                  <strong><%= link_to requester_b.name, user_path(requester_b) %></strong>
                </p>
                <p>
                  <%= link_to "Confirm", accept_friendships_path(name: requester_b.name), controller: "friendships", action: "accept", method: :put, class: "button is-link is-small" %>  <%= link_to "Delete", decline_friendships_path(name: requester_b.name), controller: "friendships", action: "decline", method: :delete, class: "button is-small has-background-grey-lighter is-outlined" %>
                </p>
              </div>
            </div>
          </article>
        <% end %>
      </div>
    </div>
  <% end %>
  <h1 class="title">Sent Requests</h1>
  <% if @user.pending_friends.empty? %>
      <h2 class="subtitle has-text-centered p-5">You have not sent out any friend requests yet!</h2>
  <% end %>
  <% @user.pending_friends.each_slice(2) do |pending_a, pending_b| %>
    <div class="columns is-6">
      <div class="column">
        <article class="media box">
          <div class="media-left">
            <figure class="image is-64x64">
              <img src="https://bulma.io/images/placeholders/64x64.png" class="is-rounded">
            </figure>
          </div>
          <div class="media-content">
            <div class="content">
              <p>
                <strong><%= link_to pending_a.name, user_path(pending_a) %></strong>
              </p>
              <p>
                <%= link_to "Cancel request", cancel_friendships_path(name: pending_a.name), controller: "friendships", action: "cancel", method: :delete, class: "button is-small has-background-grey-lighter is-outlined" %>
              </p>
            </div>
          </div>
        </article>
      </div>
      <div class="column">
        <% unless pending_b.nil? %>
          <article class="media box">
            <div class="media-left">
              <figure class="image is-64x64">
                <img src="https://bulma.io/images/placeholders/64x64.png" class="is-rounded">
              </figure>
            </div>
            <div class="media-content">
              <div class="content">
                <p>
                  <strong><%= link_to pending_b.name, user_path(pending_b) %></strong>
                </p>
                <p>
                  <%= link_to "Cancel request", cancel_friendships_path(name: pending_b.name), controller: "friendships", action: "cancel", method: :delete, class: "button is-small has-background-grey-lighter is-outlined" %>
                </p>
              </div>
            </div>
          </article>
        <% end %>
      </div>
    </div>
  <% end %>
</div>