<div class="column is-8 is-offset-2">
  <div class="hero-body">
    <div class="container">
      <div class="box has-text-centered">
        <figure class="avatar">
            <%= image_tag user_avatar(@user,256), class: "is-rounded" %>
        </figure>
        <h1 class="title"><%= @user.name %></h1>
        <h2 class="subtitle is-6">I only check Facebook once a week; don't expect fast responses. I hate hate hate Facebook.</h2>
        <div class="tabs is-centered">
          <ul class="tabs-menu">
            <li class="is-active" data-target="posts-tab"><a>Posts</a></li>
            <li data-target="about-tab"><a>About</a></li>
            <li data-target="friends-tab"><a>Friends</a></li>
            <li data-target="photos-tab"><a>Photos</a></li>
          </ul>
        </div>
      </div>
      <div class="tab-content" id="posts-tab">
        <% unless Friendship.exists?(current_user, @user) || current_user == @user %>
            <div class="box">
              <h1 class="title is-5">Do you know <%= @user.name %>? </h1>
              <div class="columns is-vcentered">
                <div class="div column is-9 pl-3">
                  <p class="subtitle is-6">To see what they share with friends, send them a friend request.</p>
                </div>
                <div class="column">
                  <%= link_to "Add Friend", friendships_path(name: @user.name), controller: "friendships", action: "create", method: :post, class: "button is-small is-link" %>
                </div>
              </div>
            </div>
          <% end %>
          <%= render "shared/all_posts" %>
      </div>
      <div class="tab-content box has-text-centered" id="about-tab">
        <%= render "about" %>
      </div>
      <div class="tab-content box has-text-centered" id="friends-tab">
        <%= render "friend_list" %>
      </div>
    </div>
  </div>
</div>






