<section class="hero has-background-white-ter	is-fullheight">
  <div class="hero-body">
    <div class="container columns">
      <div class="columns column is-vcentered is-5 is-offset-2">
        <div class="column">
          <%= image_tag("full_brand.png", :alt => "brand logo") %>
          <h1 class="subtitle is-4">Check on your friends and the world around you through Farcebook.</h1>
        </div>
      </div>
      <div class="column is-4 is-offset-1">
        <div class="box">
            <%= form_with scope: resource_name, url: session_path(resource_name)do |f| %>
              <%= render "devise/shared/error_messages", resource: resource %>
              <div class="field">
                <div class="control">
                  <%= f.email_field :email, autofocus: true, class: "input is-medium", autocomplete: "email", placeholder: "Email", required: true %>
                </div>
              </div>

              <div class="field">
                <div class="control">
                  <%= f.password_field :password, autocomplete: "current-password", class: "input is-medium", placeholder: "Password", required: true %>
                </div>
              </div>

              <% if devise_mapping.rememberable? %>
                <div class="field">
                  <div class="control">
                      <%= f.check_box :remember_me %>
                      <%= f.label :remember_me, class: "checkbox", style: "font-size: 18px;" %>
                  </div>
                </div>
              <% end %>
              <div class="control">
                  <%= f.submit "Log in", class: "button is-fullwidth is-info" %>
              </div>
              <div class="control has-text-centered mt-3">
                <%= link_to "Forgot your password?", new_password_path(resource_name), class: "has-text-info" %><br />
              </div>              
            <% end %>
          <hr class="login-hr has-background-grey-lighter" style="height: 1px;">
          <div class="control">
              <%= link_to "Create an Account", new_user_registration_path, class: "button is-fullwidth is-info" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
    <script async type="text/javascript" src="../js/bulma.js"></script>
</body>