<div class="column is-6">
  <article class="media box">
    <figure class="media-left">
      <div class="columns is-centered is-mobile is-vcentered">
        <div class="column has-text-centered pr-3 pl-3">
          <div class="image is-48x48">
            <%= image_tag user_avatar(current_user,300), class: "is-rounded" %>
          </div> 
        </div>
      </div>
    </figure>
    <div class="media-content">
        <div class="content">
          <%= link_to new_post_path, id: "new-post", remote: true do %>
            <%= text_field_tag "dummy",nil, class: "input mt-2", placeholder: "What's on your mind, #{current_user.name.strip.split(/\s+/)[0]}?" %>
          <% end %>
        </div>
        <%= render "post_modal" %>
    </div>
  </article>
  <%= render "shared/all_posts" %>
</div>

