<!DOCTYPE html>
<html class="has-background-light">
  <head>
    <title>Farcebook</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <% if controller_name != 'sessions' && controller_name != 'registrations' && controller_name != 'static' && controller_name != 'passwords' %>
      <nav class="navbar columns m-1" role="navigation" aria-label="main navigation">
        <div class="navbar-brand column is-2">
          <%= link_to root_path, class: "navbar-item", data: { turbolinks: false } do %>
            <%= image_tag("full_brand.png", :alt => "brand logo") %>
          <% end %>

          <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
          </a>
        </div>

        <div id="navbarBasicExample column is-10" class="navbar-menu">
          <div class="navbar-end">
            <div class="navbar-item">
              <div class="buttons">
                <%= link_to current_user, class: "button is-rounded pl-3 pr-3", data: { turbolinks: false } do %>
                  <figure class="image is-24x24 mr-2 ml-0">
                    <%= image_tag user_avatar(current_user,300), class: "is-rounded" %>
                  </figure>  
                  <%= current_user.name %>
                <% end %>
                <%= link_to requests_user_path(current_user ), class: "button is-light is-rounded", data: { turbolinks: false } do %>
                  <span class="icon">
                    <i class="fas fa-bell"></i>
                    <% unless current_user.requested_friends.empty? %>
                      <span class="badge"> <%= current_user.requested_friends.count %> </span>
                    <% end %>
                  </span>
                <% end %>
                <div class="navbar-item has-dropdown is-hoverable">
                  <a class="button is-light is-rounded">
                    <span class="icon">
                      <i class="fas fa-caret-down"></i>
                    </span>
                  </a>
                  <div class="navbar-dropdown is-right">
                    <%= link_to current_user, data: { turbolinks: false }, class: "navbar-item" do %>
                      <article class="media">
                        <div class="media-left">
                          <figure class="image is-48x48 ml-1">
                            <%= image_tag user_avatar(current_user, 300), class: "is-rounded navbar-profile-img" %>
                          </figure>
                        </div>
                        <div class="media-content">
                              <strong><%= current_user.name %></strong>
                              <br />
                              <small>See your profile</small>
                          </div>
                      </article>
                    <% end %>
                    <hr class="navbar-divider">
                    <%= link_to edit_user_registration_path, data: { turbolinks: false }, class: "navbar-item" do %>
                      <span class="icon is-medium mr-3 ml-3"><i class="fas fa-user-edit fa-lg"></i></span>
                      <span class="is-size-6">Edit Profile</span>
                    <% end %>
                    <%= link_to destroy_user_session_path, method: :delete, data: { turbolinks: false }, class: "navbar-item" do %>
                      <span class="icon is-medium mr-3 ml-3"><i class="fas fa-sign-out-alt fa-lg"></i></span>
                      <span class="is-size-6">Log Out</span>
                    <% end %>
                  </div>
                </div>
                <%# <%= link_to "Log Out", destroy_user_session_path, method: :delete, class: "button is-info" %>
              </div>
            </div>
          </div>
        </div>
      </nav>
    <% end %>
    
    
    <% if flash[:notice] %>
      <div class="notification is-primary is-light" style="border-radius: 0; margin-bottom: 0;">
        <p class="notice"><%= notice %></p>
      </div>
    <% end %>
    <% if flash[:alert] %>
      <div class="notification is-danger is-light" style="border-radius: 0; margin-bottom: 0;">
        <p class="subtitle alert"><%= alert %></p>
      </div>
    <% end %>
    
    <section class="section">
      <div class="container">
        <div class="columns is-variable is-2-mobile is-0-tablet is-3-desktop is-8-widescreen is-1-fullhd">
          <% if controller_name != 'sessions' && controller_name != 'registrations' && controller_name != 'static' && controller_name != 'passwords' && !(controller_name == "users" && action_name == "show") %>
            <%= render "layouts/sidebar" %>
            <%= yield %>
            <%= render "layouts/potential_friends" unless @disable_friends_sidebar %>
          <% else %>
            <%= yield %>
          <% end %> 
        </div>
      </div>
    </section>
  </body>
  <script>

    document.addEventListener('DOMContentLoaded', function() {
      let cardToggles = document.getElementsByClassName('card-toggle');
      for (let i = 0; i < cardToggles.length; i++) {
        cardToggles[i].addEventListener('click', e => {
          e.currentTarget.parentElement.parentElement.childNodes[3].classList.toggle('is-hidden');
        });
      }
    });


    var $dropdowns = getAll('.dropdown:not(.is-hoverable)');

    if ($dropdowns.length > 0) {

      $dropdowns.forEach(function ($el) {
        $el.addEventListener('click', function (event) {
          event.stopPropagation();
          $el.classList.toggle('is-active');
        });
      });

      document.addEventListener('click', function (event) {
        closeDropdowns();
      });
    }

    function closeDropdowns() {
      $dropdowns.forEach(function ($el) {
        $el.classList.remove('is-active');
      });
    }

    function getAll(selector) {
      var parent = arguments.length > 1 && arguments[1] !== undefined ? arguments[1] : document;

      return Array.prototype.slice.call(parent.querySelectorAll(selector), 0);
    }

    $(function(){
      var preview = $("figure.upload-preview img");

      $(".file").on('change', function(event){
        $('#uploadPreview').show();
        var input = $(event.currentTarget);
        var file = input[0].files[0];
        var reader = new FileReader();
        reader.onload = function(e){
            image_base64 = e.target.result;
            preview.attr("src", image_base64);
        };
        reader.readAsDataURL(file);
      });
    });

    $('a.reply-button').click(function() {
      var id = $(this).attr('id');
      var suffix = id.match(/\d+/);
      $('#replyDiv'+suffix).css("display", "block");
    });

    $(function(){
      var preview = $("figure.upload-preview img");
      var avatarPreview = $("#avatarPreview img")

      $(".file").on('change', function(event){
        $('#imageContainer').hide();
        $('#avatarImg').hide();
        $('#avatarPreview').show();
        $('#uploadPreview').show();

        var input = $(event.currentTarget);
        var file = input[0].files[0];
        var reader = new FileReader();
        reader.onload = function(e){
            image_base64 = e.target.result;
            preview.attr("src", image_base64);
            avatarPreview.attr("src", image_base64);
        };
        reader.readAsDataURL(file);
      });
    });
    
    const tabSystem = {
      init(){
        document.querySelectorAll('.tabs-menu').forEach(tabMenu => {
            Array.from(tabMenu.children).forEach((child, ind) => {
                child.addEventListener('click', () => {
                    tabSystem.toggle(child.dataset.target);
                });
                if(child.className.includes('is-active')){
                    tabSystem.toggle(child.dataset.target);
                }
            });
        });
      },
      toggle(targetId){
          document.querySelectorAll('.tab-content').forEach(contentElement=>{
              contentElement.style.display = contentElement.id === targetId ? 'block' : 'none';
              document.querySelector(`[data-target="${contentElement.id}"]`).classList[contentElement.id === targetId ? 'add' : 'remove']('is-active');
          })
      },
    };
    // use it
    tabSystem.init()
  </script>
</html>
