<!DOCTYPE html>
<html class="has-background-light">
  <head>
    <title>Farcebook</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <% if controller_name != 'sessions' && controller_name != 'registrations' && controller_name != 'static' %>
      <nav class="navbar columns m-1" role="navigation" aria-label="main navigation">
        <div class="navbar-brand column is-2">
          <%= link_to root_path, class: "navbar-item", data: { turbolinks: false } do %>
            <%= image_tag("full_brand.png", :alt => "brand logo") %>
          <% end %>

          <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
          </a>
        </div>

        <div id="navbarBasicExample column is-10" class="navbar-menu">
          <div class="navbar-start">
            <a class="navbar-item">
              Home
            </a>

            <a class="navbar-item">
              Documentation
            </a>

            <div class="navbar-item has-dropdown is-hoverable">
              <a class="navbar-link">
                More
              </a>

              <div class="navbar-dropdown">
                <a class="navbar-item">
                  About
                </a>
                <a class="navbar-item">
                  Jobs
                </a>
                <a class="navbar-item">
                  Contact
                </a>
                <hr class="navbar-divider">
                <a class="navbar-item">
                  Report an issue
                </a>
              </div>
            </div>
          </div>

          <div class="navbar-end">
            <div class="navbar-item">
              <div class="buttons">
                <%= link_to current_user, class: "button is-rounded pl-3 pr-3", data: { turbolinks: false } do %>
                  <figure class="image is-24x24 mr-2 ml-0">
                    <img class="is-rounded" src="https://bulma.io/images/placeholders/128x128.png">
                  </figure>  
                  <%= current_user.name %>
                <% end %>
                <%= link_to "Log Out", destroy_user_session_path, method: :delete, class: "button is-info" %>
              </div>
            </div>
          </div>
        </div>
      </nav>
    <% end %>
    
    
    <% if flash[:notice] %>
      <div class="notification is-primary is-light" style="border-radius: 0; margin-bottom: 0;">
        <p class="notice"><%= notice %></p>
      </div>
    <% end %>
    <% if flash[:alert] %>
      <div class="notification is-danger is-light" style="border-radius: 0; margin-bottom: 0;">
        <p class="subtitle alert"><%= alert %></p>
      </div>
    <% end %>
    
    <section class="section">
      <div class="container">
        <div class="columns is-variable is-2-mobile is-0-tablet is-3-desktop is-8-widescreen is-1-fullhd">
          <% if controller_name != 'sessions' && controller_name != 'registrations' && controller_name != 'static' %>
            <%= render "layouts/sidebar" %>
            <%= yield %>
            <%= render "layouts/potential_friends" unless @disable_friends_sidebar %>
          <% else %>
            <%= yield %>
          <% end %> 
        </div>
      </div>
    </section>
  </body>
  <script>
     
    var $dropdowns = getAll('.dropdown:not(.is-hoverable)');

    if ($dropdowns.length > 0) {

      $dropdowns.forEach(function ($el) {
        $el.addEventListener('click', function (event) {
          event.stopPropagation();
          $el.classList.toggle('is-active');
        });
      });

      document.addEventListener('click', function (event) {
        closeDropdowns();
      });
    }

    function closeDropdowns() {
      $dropdowns.forEach(function ($el) {
        $el.classList.remove('is-active');
      });
    }

    function getAll(selector) {
      var parent = arguments.length > 1 && arguments[1] !== undefined ? arguments[1] : document;

      return Array.prototype.slice.call(parent.querySelectorAll(selector), 0);
    }
    
    
    

    $('a.reply-button').click(function() {
      var id = $(this).attr('id');
      var suffix = id.match(/\d+/);
      $('#replyDiv'+suffix).css("display", "block");
    });

  </script>
</html>
